<header class="site-header">
  <h1 class="name">Sandeep S</h1>
  <p class="contact">
    <a href="mailto:sandeep.sath7@gmail.com">sandeep.sath7@gmail.com</a> |
    +91-7550112670
  </p>
  <nav class="main-nav">
    <a href="{{ site.baseurl }}/index.html">Home</a>
    <a href="{{ site.baseurl }}/projects.html">Projects</a>
    <a href="{{ site.baseurl }}/publications.html">Publications</a>
    <a href="{{ site.baseurl }}/awards.html">Awards</a>
    <a href="{{ site.baseurl }}/contact.html">Contact</a>
  </nav>
</header>
